@media only screen and (max-width: 1023px) {
    .tab_on a {  min-width: 200px;  padding: 15px;}
}
@media only screen and (max-width: 767px) {
    .tab_on a {  min-width: 190px;  padding: 15px;}
    .btn.btn-primary.btn-ctrl {  margin: 5px 0;}
}
@media only screen and (max-width: 640px) {
    .tab_on a {  min-width: 160px;  padding: 15px;}
}
@media only screen and (max-width: 570px) {
    .tab_on a {  min-width: 130px;  padding: 15px;}
    .breadcrumb {  padding: 8px 10px;}
    h3.add-header {  margin: 0 0 40px;}
    .content-header > .breadcrumb { left: 0; right: 0; margin: 0 auto;  top: 94px;font-size: 11px;}
    .target_main.one .target_sub, .pagetype_main.one .pagetype_sub {margin-left: 0;}
    .btn.btn-primary.btn-ctrl {min-width: 50px;}
}
@media only screen and (max-width: 480px) {
    .tab_on a, .tab_on a.btn-active {  margin: 0 5px 5px 0;  width: 100%;}
    button, .buttons, .btn, .modal-footer .btn + .btn {  margin-right: 2px; padding: 9px 7px;}
}
@media only screen and (max-width: 360px) {
    input.form-control {    font-size: 9px;}

}
